.feedbackFormContainer {
    background-color: #f8f8f8;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedbackFormContainer h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formField {
    margin-bottom: 25px;
  }
  
  .formField label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .formField input,
  .formField select,
  .formField textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  .formField textarea {
    height: 100px;
  }
  
  .formField input[type='radio'],
  .formField input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
  }
  
  .submitButton {
    background-color: #5bd1ec;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #4aa4c6;
  
  }